[submodule "antispam"]
	path = antispam
	url = https://github.com/shagu/antispam.git
[submodule "pfQuest"]
	path = pfQuest
	url = https://github.com/shagu/pfQuest.git
[submodule "pfUI"]
	path = pfUI
	url = https://github.com/shagu/pfUI.git
[submodule "pfQuest-turtle"]
	path = pfQuest-turtle
	url = https://github.com/shagu/pfQuest-turtle.git
[submodule "aux-addon"]
	path = aux-addon
	url = https://github.com/shirsig/aux-addon-vanilla.git
[submodule "Banana"]
	path = Banana
	url = https://github.com/webdkpthroaway/banana.git
[submodule "BetterCharacterStats"]
	path = BetterCharacterStats
	url = https://github.com/pepopo978/BetterCharacterStats
[submodule "BigWigs"]
	path = BigWigs
	url = https://github.com/pepopo978/BigWigs
[submodule "Cartographer"]
	path = Cartographer
	url = https://github.com/Haaxor1689/Cartographer.git
[submodule "Cleanup"]
	path = Cleanup
	url = https://github.com/shirsig/Cleanup-vanilla.git
[submodule "crafty"]
	path = crafty
	url = https://github.com/shirsig/crafty.git
[submodule "Decursive"]
	path = Decursive
	url = https://github.com/MarcelineVQ/Decursive
[submodule "Mail"]
	path = Mail
	url = https://github.com/EinBaum/Mail.git
[submodule "Outfitter"]
	path = Outfitter
	url = https://github.com/pepopo978/Outfitter
[submodule "PallyPower"]
	path = PallyPower
	url = https://github.com/madScripting/PallyPower-TurtleWoW.git
[submodule "pfUI-turtle"]
	path = pfUI-turtle
	url = https://github.com/Lexiebean/pfUI-turtle.git
[submodule "Quiver"]
	path = Quiver
	url = https://github.com/SabineWren/Quiver.git
[submodule "SortBags"]
	path = SortBags
	url = https://github.com/refaim/SortBags.git
[submodule "TWThreat"]
	path = TWThreat
	url = https://github.com/CosminPOP/TWThreat.git
[submodule "AtlasLoot"]
	path = AtlasLoot
	url = https://github.com/Lexiebean/AtlasLoot.git
[submodule "SnagaLoa"]
	path = SnagaLoa
	url = https://github.com/madScripting/SnaguLoatheb-TurtleWoW.git
[submodule "ModifiedPowerAuras"]
	path = ModifiedPowerAuras
	url = https://github.com/Berranzan/ModifiedPowerAuras-Continued.git
[submodule "SuperAPI"]
	path = SuperAPI
	url = https://github.com/balakethelock/SuperAPI.git
[submodule "SuperWowCombatLogger"]
	path = SuperWowCombatLogger
	url = https://github.com/pepopo978/SuperWowCombatLogger
